<%- include('header'); -%>
	<div class="root">
	 <%
	 var name="";
	 var duration="";
	 var colour="";
	 if(typeof mushroom != 'undefined'){
		 	name=mushroom.name;
			duration=mushroom.duration;
			colour=mushroom.colour;
		 }%>
		<% if(name!=""){%><header><h1 align="center"><%= name %></h1></header><% }%>
		<% if(name===""){ %> <header><h1 align="center"><%="New mushroom"%></h1></header> <%}%>
		<form method="POST">
		<div class="titlee">
			Name:
			<input  id="top" name="eName" class="label" type="text" value='<%= name %>'>
		</div>
		<div class="titlee">
			Duration:
			<input id="middle" name="eDuration" class="label" type="text" value=<%=duration%>>
		</div>
		<div class="titlee">
			Colour:
			<input class="label" name="eColour" type="text" value=<%=colour %>>
		</div>
		<input  type="checkbox" name="eSuggest" value="suggested" id="myCheck"<% if(typeof mushroom!=='undefined'&&mushroom.suggested==="yes"){%> checked <% } %>>  suggested for kids</input>

		<div align="center" style="padding: 6%;"><button type="submit" onclick="window.location.href = '/<%=field._id %>'" style="background-color: #B7D6AC; padding: 3%; " >Done</button></div>
		</form>
		<% if(typeof errormsg!=='undefined'){%><div  align="center"><label style="background-color:red; color:white;" ><%= errormsg %></label></div> <% } %>
	</div>

<%- include('footer'); -%>
